# Этап 1. Обзор данных <a id='data_review'></a>
<br>
Чтобы выявить гипотезы для выполнения заданий стоит сначала узнать из чего состоит данная таблица

In [3]:
import pandas as pd
import numpy as np
import os
import re

In [5]:
df = pd.read_csv("./data/Dataset1.csv")

Проанализируем датафрейм с помощью нескольких команд

In [1]:
df.head()

NameError: name 'df' is not defined

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   color                       5025 non-null   object
 1   Director_Name               4872 non-null   object
 2   num_Critic_for_reviews      4927 non-null   float64
 3   duration                    4959 non-null   float64
 4   director_Facebook_likes     4872 non-null   float64
 5   actor_3_Facebook_likes      4953 non-null   float64
 6   actor_2_name                4963 non-null   object
 7   Actor_1_Facebook_likes      4968 non-null   float64
 8   gross                       4104 non-null   float64
 9   genres                      4974 non-null   object
 10  actor_1_name                4968 non-null   object
 11  movie_Title                 4974 non-null   object
 12  num_voted_users             4974 non-null   float64
 13   cast_total_facebook_likes  4974 non-null   float64
 14  actor_3_name                4953 non-null   object
 15  facenumber_in_poster        4961 non-null   float64
 16  plot_keywords               4827 non-null   object
 17  movie_imdb_link             4974 non-null   object
 18  num_user_for_reviews        4956 non-null   float64
 19  language                    4963 non-null   object
 20  country                     4971 non-null   object
 21  content_rating              4677 non-null   object
 22  budget                      4494 non-null   float64
 23  title_year                  4869 non-null   float64
 24  actor_2_facebook_likes      4963 non-null   float64
 25  imdb_score                  4974 non-null   float64
 26  aspect_ratio                4654 non-null   float64
 27  movie_facebook_likes;       4974 non-null   object
dtypes: float64(15), object(13)
memory usage: 1.1+ MB

Итак в ДатаФрейме присутствуют пустые значения, пробелы в названии столбцов и написание с большой буквы.
Это все следует исправить.

# Этап 2. Предварительная обработка данных <a id='data_review'></a>
<br>
Чтобы начать работу с ДатаФреймом следует ее подправить.

Удалим все дубликаты в записях.

In [6]:
df.drop_duplicates().reset_index(drop=True, inplace=True)

Изменим названия столбца.

In [7]:
df = df.rename (
    columns = {
        'Director_Name' : 'director_name',
        'num_Critic_for_reviews'    : 'num_critic_for_reviews',
        'director_Facebook_likes' : 'director_facebook_likes',
        'actor_3_Facebook_likes'      : 'actor_3_facebook_likes',
        'Actor_1_Facebook_likes' : 'actor_1_facebook_likes',
        'movie_title'    : 'movie_title',
        ' cast_total_facebook_likes' : 'cast_total_facebook_likes',
        'movie_facebook_likes;'      : 'movie_facebook_likes',
    }
)

### Пропущенные значения <a id='missing_values'></a>
<br>
Удалим строчки в которые мы не сможем подставить подходящие значения. Сначала узнаем сколько их.

In [8]:
df.isna().sum()

color                         18
director_name                171
num_critic_for_reviews       116
duration                      84
director_facebook_likes      171
actor_3_facebook_likes        90
actor_2_name                  80
actor_1_facebook_likes        75
gross                        939
genres                        69
actor_1_name                  75
movie_Title                   69
num_voted_users               69
cast_total_facebook_likes     69
actor_3_name                  90
facenumber_in_poster          82
plot_keywords                216
movie_imdb_link               69
num_user_for_reviews          87
language                      80
country                       72
content_rating               366
budget                       549
title_year                   174
actor_2_facebook_likes        80
imdb_score                    69
aspect_ratio                 389
movie_facebook_likes          69
dtype: int64

In [181]:
df.color.unique()

array(['Color', 'Colour', nan, 'color',
       'Color,Andrew Adamson,284,150,80,82,Kiran Shah,1000,291709845,Adventure|Family|Fantasy,Jim Broadbent,"The Chronicles of Narnia: The Lion, the Witch and the Wardrobe\xa0",286506,1317,Shane Rangi,5,hide and seek|lion|magic|professor|snow,http://www.imdb.com/title/tt0363771/?ref_=fn_tt_tt_1,1463,English,USA,PG,180000000,2005,190,6.9,2.35,0;',
       ' Black and White',
       'Color,Pete Docter,250,92,0,773,John Ratzenberger,12000,289907418,Adventure|Animation|Comedy|Family|Fantasy,Steve Buscemi,"Monsters, Inc.\xa0",585659,15013,James Coburn,0,friend|little girl|monster|rival|scream,http://www.imdb.com/title/tt0198781/?ref_=fn_tt_tt_1,593,English,USA,G,115000000,2001,1000,8.1,1.85,0;',
       'Color,Alex Proyas,225,115,295,466,Bruce Greenwood,10000,144795350,Action|Mystery|Sci-Fi|Thriller,Will Smith,"I, Robot\xa0",387632,12068,Chi McBride,1,humanoid robot|man versus machine|prosthetic limb|robot as pathos|robot vs. robot,http://www.imdb.com/title/tt0343818/?ref_=fn_tt_tt_1,789,English,USA,PG-13,120000000,2004,981,7.1,2.35,0;',
       ',Christopher Barnard,,22,0,,,5,,Comedy,Mathew Buck,"10,000 B.C.\xa0            ",6,5,,0,,http://www.imdb.com/title/tt1869849/?ref_=fn_tt_tt_1,,,,,,,,7.2,,0;',
       'Color,Stuart Beattie,308,92,72,568,Kevin Grevioux,623,19059018,Action|Fantasy|Sci-Fi|Thriller,Caitlin Stasey,"I, Frankenstein\xa0",65709,3165,Miranda Otto,0,army|creature|demon|frankenstein|gargoyle,http://www.imdb.com/title/tt1418377/?ref_=fn_tt_tt_1,194,English,Australia,PG-13,65000000,2014,593,5.1,2.35,15000;',
       'Color,,20,22,,271,Soleil Moon Frye,870,,Comedy|Family|Fantasy,Nate Richert,"Sabrina, the Teenage Witch\xa0            ",24420,2433,Caroline Rhea,1,female protagonist|hereditary gift of witchcraft|magic|supernatural|witch,http://www.imdb.com/title/tt0115341/?ref_=fn_tt_tt_1,94,English,USA,TV-G,3000000,,558,6.6,1.33,990;',
       'Color,Anthony Russo,136,110,94,240,Billy Gardell,277,75604320,Comedy|Romance,Todd Stashwick,"You, Me and Dupree\xa0",68417,847,Amanda Detmer,1,best friend|foot fetish|houseguest|newlywed|wedding,http://www.imdb.com/title/tt0463034/?ref_=fn_tt_tt_1,195,English,USA,PG-13,54000000,2006,245,5.6,1.85,0;',
       'Color,Bobby Farrelly,155,116,101,79,Tony Cox,889,90567722,Comedy,Robert Forster,"Me, Myself & Irene\xa0",185878,1711,Rob Moran,1,dissociative identity disorder|limousine|multiple personality|police|rhode island,http://www.imdb.com/title/tt0183505/?ref_=fn_tt_tt_1,481,English,USA,R,51000000,2000,624,6.5,1.85,0;',
       'Color,Glenn Ficarra,310,118,43,7000,Emma Stone,33000,84244877,Comedy|Drama|Romance,Ryan Gosling,"Crazy, Stupid, Love.\xa0",375456,57426,Steve Carell,7,bar|divorce|friend|girl|male objectification,http://www.imdb.com/title/tt1570728/?ref_=fn_tt_tt_1,292,English,USA,PG-13,50000000,2011,15000,7.4,2.39,44000;',
       'Color,Melville Shavelson,8,111,5,559,Tom Bosley,6000,,Comedy|Family,Lucille Ball,"Yours, Mine and Ours\xa0",5888,7493,Tim Matheson,0,nurse|parent|sibling|widow|widower,http://www.imdb.com/title/tt0063829/?ref_=fn_tt_tt_1,61,English,USA,Unrated,2500000,1968,584,7.2,1.85,0;',
       'Color,John Hamburg,215,105,29,257,Jon Favreau,24000,71347010,Comedy|Romance,J.K. Simmons,"I Love You, Man\xa0",166194,28928,Jane Curtin,2,bromance|friend|gay brother|homosexual subtext|wedding,http://www.imdb.com/title/tt1155056/?ref_=fn_tt_tt_1,215,English,USA,R,40000000,2009,4000,7.1,1.85,0;',
       'Color,Taylor Hackford,12,330,138,672,Jesse Borrego,848,4496583,Crime|Drama,Delroy Lindo,"Blood In, Blood Out\xa0",23181,3227,Raymond Cruz,2,1970s|1980s|barrio|gang war|mexican,http://www.imdb.com/title/tt0106469/?ref_=fn_tt_tt_1,129,English,USA,R,35000000,1993,674,8.0,1.66,6000;',
       'Color,John Whitesell,88,113,14,534,Tony Curran,918,37911876,Action|Comedy|Crime,Brandon T. Jackson,"Big Mommas: Like Father, Like Son\xa0",19671,3500,Portia Doubleday,2,fbi agent|murder|performing arts school|scene during end credits|undercover,http://www.imdb.com/title/tt1464174/?ref_=fn_tt_tt_1,47,English,USA,PG-13,32000000,2011,845,4.4,2.35,0;',
       'Color,Miguel Arteta,119,81,44,3000,Steve Carell,35000,66950483,Comedy|Family,Bella Thorne,"Alexander and the Terrible, Horrible, No Good, Very Bad Day\xa0",29738,47677,Jennifer Garner,6,bad day|based on book|birthday|job interview|long title,http://www.imdb.com/title/tt1698641/?ref_=fn_tt_tt_1,85,English,USA,PG,28000000,2014,7000,6.2,2.39,12000;',
       'Color,Jay Roach,74,119,116,385,Mary McCormack,738,8888143,Comedy|Drama|Sport,Scott Grimes,"Mystery, Alaska\xa0",22250,2171,Ron Eldard,0,alaska|male nudity|nudity|sex|small town,http://www.imdb.com/title/tt0134618/?ref_=fn_tt_tt_1,123,English,Canada,R,28000000,1999,428,6.7,2.35,913;',
       'Color,Malcolm D. Lee,76,114,92,436,Mike Epps,940,42168445,Comedy|Drama|Romance,Mo\'Nique,"Welcome Home, Roscoe Jenkins\xa0",10791,3565,Cedric the Entertainer,3,african american protagonist|comma in title|four word title|name in title|talk show host,http://www.imdb.com/title/tt0494652/?ref_=fn_tt_tt_1,39,English,USA,PG-13,35000000,2008,706,5.3,1.85,464;',
       'Color,Joel Coen,197,107,0,577,Tim Blake Nelson,1000,45506619,Adventure|Comedy|Crime|Music,Holly Hunter,"O Brother, Where Art Thou?\xa0",225102,3066,Daniel von Bargen,3,baby|bank|blind prophet|convict|sirens,http://www.imdb.com/title/tt0190590/?ref_=fn_tt_tt_1,862,English,UK,PG-13,26000000,2000,596,7.8,2.35,16000;',
       'Color,Charles Herman-Wurmfeld,133,95,0,643,Bruce McGill,934,89808372,Comedy,Mary Lynn Rajskub,"Legally Blonde 2: Red, White & Blonde\xa0",46417,3500,Bob Newhart,2,animal rights|congresswoman|doorman|transvestism|washington d.c.,http://www.imdb.com/title/tt0333780/?ref_=fn_tt_tt_1,297,English,USA,PG-13,45000000,2003,655,4.6,1.85,660;',
       'Color,James Bridges,28,107,21,418,Phoebe Cates,967,16118077,Drama,Dianne Wiest,"Bright Lights, Big City\xa0",5817,3067,Swoosie Kurtz,0,estranged wife|fashion show|magazine|new york city|writer,http://www.imdb.com/title/tt0094799/?ref_=fn_tt_tt_1,37,English,USA,R,25000000,1988,767,5.6,1.85,377;',
       'Color,James Mangold,133,127,446,898,Clea DuVall,11000,28871190,Biography|Drama,Angelina Jolie Pitt,"Girl, Interrupted\xa0",125421,13433,Vanessa Redgrave,0,1960s|father daughter incest|mental hospital|suicide|suicide attempt,http://www.imdb.com/title/tt0172493/?ref_=fn_tt_tt_1,385,English,USA,R,24000000,1999,1000,7.3,1.85,0;',
       'Color,Ethan Coen,423,106,1000,1000,Channing Tatum,19000,29997095,Comedy|Mystery,Scarlett Johansson,"Hail, Caesar!\xa0",60926,38494,Alden Ehrenreich,5,50s|film within a film|hollywood|illegitimate pregnancy|twins,http://www.imdb.com/title/tt0475290/?ref_=fn_tt_tt_1,302,English,UK,PG-13,22000000,2016,17000,6.4,1.85,23000;',
       'Color,Charlie Kaufman,245,124,0,631,Jennifer Jason Leigh,22000,3081925,Comedy|Drama|Romance,Philip Seymour Hoffman,"Synecdoche, New York\xa0",55842,24732,Samantha Morton,0,actress|director|play|theatre director|warehouse,http://www.imdb.com/title/tt0383028/?ref_=fn_tt_tt_1,274,English,USA,R,21000000,2008,1000,7.5,2.35,13000;',
       'Color,,,43,,211,Jenni \'Jwoww\' Farley,341,,Comedy|Drama|Reality-TV|Romance,Nicole \'Snooki\' Polizzi,"Gone, Baby, Gone\xa0            ",29,1462,Paul \'Pauly D\' DelVecchio,1,lifestyle,http://www.imdb.com/title/tt1697237/?ref_=fn_tt_tt_1,,English,,TV-14,,,230,6.6,1.33,0;',
       'Color,Chris Columbus,107,102,0,529,Marie Avgeropoulos,946,14793904,Comedy|Romance,Alan Ruck,"I Love You, Beth Cooper\xa0",28209,4072,Shawn Roberts,1,cheerleader|party|popular girl|speech|valedictorian,http://www.imdb.com/title/tt1032815/?ref_=fn_tt_tt_1,80,English,Canada,PG-13,18000000,2009,800,5.3,1.85,0;',
       'Color,Niki Caro,113,129,51,89,Valente Rodriguez,427,44469602,Biography|Drama|Sport,Morgan Saylor,"McFarland, USA\xa0",23480,952,Diana Maria Riva,0,coach|high school|place name in title|school|student,http://www.imdb.com/title/tt2097298/?ref_=fn_tt_tt_1,83,English,USA,PG,17000000,2015,234,7.4,2.35,21000;',
       'Color,Ang Lee,287,120,0,5,Pei-Pei Cheng,103,128067808,Action|Drama|Romance,Chen Chang,"Crouching Tiger, Hidden Dragon\xa0",217740,129,Sihung Lung,3,bare midriff|china|magical realism|martial arts|sword,http://www.imdb.com/title/tt0190332/?ref_=fn_tt_tt_1,1641,Mandarin,Taiwan,PG-13,15000000,2000,21,7.9,2.35,0;',
       'Color,Martin Scorsese,59,136,17000,213,Liza Minnelli,22000,,Drama|Music|Musical|Romance,Robert De Niro,"New York, New York\xa0",13548,23378,Mary Kay Place,0,love|musician|saxophonist|singer|songwriter,http://www.imdb.com/title/tt0076451/?ref_=fn_tt_tt_1,75,English,USA,PG,14000000,1977,740,6.7,1.66,932;',
       'Color,Barry Levinson,62,121,272,227,J.T. Walsh,49000,123922370,Biography|Comedy|Drama|War,Robin Williams,"Good Morning, Vietnam\xa0",98348,50141,Bruno Kirby,1,disc jockey|friendship|radio|vietnam|vietnamese,http://www.imdb.com/title/tt0093105/?ref_=fn_tt_tt_1,131,English,USA,R,13000000,1987,263,7.3,1.85,0;',
       'Color,Danny Leiner,106,83,8,612,Mary Lynn Rajskub,3000,46729374,Comedy|Mystery,Jennifer Garner,"Dude, Where\'s My Car?\xa0",116625,6454,Marla Sokoloff,2,bare chested male|gay kiss|homoeroticism|lesbian kiss|transsexual,http://www.imdb.com/title/tt0242423/?ref_=fn_tt_tt_1,469,English,USA,PG-13,13000000,2000,934,5.5,1.37,0;',
       'Color,Olivier Assayas,165,120,107,280,Miranda Richardson,12000,4857376,Comedy|Drama|Romance,Steve Buscemi,"Paris, je t\'aime\xa0",63084,13208,Catalina Sandino Moreno,0,baby|divorce|oscar wilde|pigalle|tourist,http://www.imdb.com/title/tt0401711/?ref_=fn_tt_tt_1,123,French,France,R,13000000,2006,530,7.3,1.85,0;',
       'Color,Yimou Zhang,101,95,611,3,Ni Yan,9,190666,Comedy|Drama,Honglei Sun,"A Woman, a Gun and a Noodle Shop\xa0",2410,18,Dahong Ni,1,betrayal|husband wife relationship|murder|noodles|salary,http://www.imdb.com/title/tt1428556/?ref_=fn_tt_tt_1,20,Mandarin,China,R,,2009,4,5.7,2.35,784;',
       'Color,Neal Brennan,83,89,23,503,Noureen DeWulf,839,15102127,Comedy,Rob Riggle,"The Goods: Live Hard, Sell Hard\xa0",17790,3973,Charles Napier,5,fourth of july|looking at one\'s self in a mirror|mirror|sex toy|young version of character,http://www.imdb.com/title/tt1092633/?ref_=fn_tt_tt_1,59,English,USA,R,,2009,700,5.8,1.85,0;',
       'Color,David Schwimmer,168,100,0,231,Iddo Goldberg,427,5998971,Comedy|Romance|Sport,Dylan Moran,"Run, Fatboy, Run\xa0",58509,1022,India de Beaufort,0,blister|gym|marathon|training|wedding,http://www.imdb.com/title/tt0425413/?ref_=fn_tt_tt_1,143,English,UK,PG-13,,2007,269,6.6,2.35,0;',
       'Color,Jay Duplass,182,83,157,581,Evan Ross,2000,4244155,Comedy|Drama,Judy Greer,"Jeff, Who Lives at Home\xa0",56005,3374,Rae Dawn Chong,5,basement|errand|secret admirer|slacker|wrong number,http://www.imdb.com/title/tt1588334/?ref_=fn_tt_tt_1,112,English,USA,R,10000000,2011,616,6.5,1.85,0;',
       'Color,Joshua Seftel,79,107,0,91,Sergej Trifunovic,603,578527,Action|Comedy|Thriller,Bashar Rahal,"War, Inc.\xa0",20008,988,Ned Bellamy,3,assassin|corporation|pop star|reporter|satire,http://www.imdb.com/title/tt0884224/?ref_=fn_tt_tt_1,112,English,USA,R,10000000,2008,175,5.7,1.78,883;',
       'Color,Rafa Lara,12,125,21,36,Andrés Montiel,78,169379,Drama|History|War,Jorge Luis Moreno,"Cinco de Mayo, La Batalla\xa0",683,221,William Miller,1,,http://www.imdb.com/title/tt2553908/?ref_=fn_tt_tt_1,3,Spanish,Mexico,R,10000000,2013,61,6.2,,874;',
       'Color,Jee-woon Kim,152,135,419,7,Woo-sung Jung,398,128486,Action|Adventure|Comedy|Western,Kang-ho Song,"The Good, the Bad, the Weird\xa0",26156,569,Dal-su Oh,0,bounty hunter|manchuria|map|train|treasure,http://www.imdb.com/title/tt0901487/?ref_=fn_tt_tt_1,74,Korean,South Korea,R,10000000,2008,149,7.3,2.35,0;',
       'Color,Stanley Kramer,61,197,176,760,Sid Caesar,924,46300000,Action|Adventure|Comedy|Crime,Jonathan Winters,"It\'s a Mad, Mad, Mad, Mad World\xa0",29323,4109,Spencer Tracy,0,california|desert|dying words|money|race,http://www.imdb.com/title/tt0057193/?ref_=fn_tt_tt_1,344,English,USA,Approved,9400000,1963,898,7.6,2.76,0;',
       'Color,Martyn Pick,19,76,4,151,Steven Waddington,722,,Action|Animation|Fantasy|Horror|Mystery|Sci-Fi|Thriller,Sean Pertwee,"Ultramarines: A Warhammer 40,000 Movie\xa0",4990,1254,Donald Sumpter,0,grimdark|mutilated corpse|space marine|ultramarines|warhammer 40k,http://www.imdb.com/title/tt1679332/?ref_=fn_tt_tt_1,64,English,UK,R,,2010,212,5.7,1.85,0;',
       'Color,Adam Brooks,160,112,20,61,Sakina Jaffrey,16000,31973840,Comedy|Drama|Romance,Ryan Reynolds,"Definitely, Maybe\xa0",127760,16289,Paulina Gerzon,5,college|daughter|girl|sex|wisconsin,http://www.imdb.com/title/tt0832266/?ref_=fn_tt_tt_1,168,English,Germany,PG-13,,2008,109,7.2,2.35,0;',
       ' Black and White,George Clooney,351,93,0,566,Tate Donovan,21000,31501218,Biography|Drama|History,Robert Downey Jr.,"Good Night, and Good Luck.\xa0",84070,22745,Alex Borstein,0,cbs|expose|fear|paranoia|reporter,http://www.imdb.com/title/tt0433383/?ref_=fn_tt_tt_1,526,English,USA,PG,7500000,2005,650,7.5,1.85,0;',
       'Color,Gabriele Muccino,36,125,125,11,Silvio Muccino,60,223878,Comedy|Drama|Romance,Laura Morante,"Remember Me, My Love\xa0",3548,132,Giulia Michelini,1,box office hit|dancer|sex scene|television|underage sex,http://www.imdb.com/title/tt0323807/?ref_=fn_tt_tt_1,21,Italian,Italy,R,5000000,2003,29,6.5,2.35,282;',
       'Color,S.R. Bindler,26,85,0,499,Scott Glenn,11000,36497,Comedy,Matthew McConaughey,"Surfer, Dude\xa0",7367,14599,Sarah Wright,0,barefoot|endorsement|surfboard|virtual reality|waves,http://www.imdb.com/title/tt0976247/?ref_=fn_tt_tt_1,37,English,USA,R,6000000,2008,826,4.7,1.85,850;',
       'Color,Richard Fleischer,69,127,130,51,Robert J. Wilke,617,,Adventure|Drama|Family|Fantasy|Sci-Fi,James Mason,"20,000 Leagues Under the Sea\xa0",22123,799,Paul Lukas,0,captain|expedition|sea|submarine|whale,http://www.imdb.com/title/tt0046672/?ref_=fn_tt_tt_1,108,English,USA,Approved,5000000,1954,53,7.2,1.37,0;',
       'Color,John Erick Dowdle,196,93,66,161,Edwin Hodge,1000,21197315,Horror|Mystery|Thriller,Ben Feldman,"As Above, So Below\xa0",49948,1410,Perdita Weeks,0,archeologist|catacomb|found footage|paris france|philosopher\'s stone,http://www.imdb.com/title/tt2870612/?ref_=fn_tt_tt_1,211,English,USA,R,5000000,2014,200,6.1,1.85,14000;',
       'Color,Feroz Abbas Khan,16,136,0,14,Bhoomika Chawla,75,240425,Biography|Drama|History,Akshaye Khanna,"Gandhi, My Father\xa0",1311,172,Darshan Jariwala,0,africa|hindu|india|muslim|south africa,http://www.imdb.com/title/tt0459293/?ref_=fn_tt_tt_1,25,Hindi,India,,,2007,45,7.4,2.35,133;',
       'Color,Nicholas Fackler,27,90,6,940,Ellen Burstyn,3000,124720,Drama|Romance,Adam Scott,"Lovely, Still\xa0",1560,4987,Martin Landau,0,christmas|fable|old man,http://www.imdb.com/title/tt1150947/?ref_=fn_tt_tt_1,15,English,USA,PG,5000000,2008,1000,7.3,1.85,777;',
       'Color,Jorge Ramírez Suárez,26,120,45,69,Adriana Barraza,623,100412,Drama,Hector Kotsifakis,"Buen Día, Ramón\xa0",2112,824,Arcelia Ramírez,0,,http://www.imdb.com/title/tt2876428/?ref_=fn_tt_tt_1,7,German,Mexico,PG-13,4000000,2013,85,7.7,2.35,0;',
       'Color,Jay Oliva,44,148,41,739,Mark Valley,2000,,Action|Animation|Crime|Sci-Fi|Thriller,Michael Emerson,"Batman: The Dark Knight Returns, Part 2\xa0",30434,5526,Grey Griffin,0,batman|joker|mutant|tattoo on breast|the joker,http://www.imdb.com/title/tt2166834/?ref_=fn_tt_tt_1,55,English,USA,PG-13,3500000,2013,774,8.4,,5000;',
       'Color,Joe Cross,13,97,65,0,Joel Fuhrman,65,,Documentary,Joe Cross,"Fat, Sick & Nearly Dead\xa0",6429,67,Amy Badberg,2,fat|food|health|juice|obese,http://www.imdb.com/title/tt1227378/?ref_=fn_tt_tt_1,25,English,Australia,,2500000,2010,2,7.6,,10000;',
       'Color,Tim McCanlies,15,97,23,326,Michael O\'Neill,982,565592,Comedy|Drama|Family,Ethan Embry,"Dancer, Texas Pop. 81\xa0",2189,2580,Alexandra Holden,0,best friend|friendship|population|state in title|texas,http://www.imdb.com/title/tt0118925/?ref_=fn_tt_tt_1,63,English,USA,PG,,1998,599,6.8,1.85,500;',
       'Color,Gary Rogers,7,120,0,40,Kirby Heyborne,178,1098224,Adventure,Noah Danby,"The Book of Mormon Movie, Volume 1: The Journey\xa0",397,359,Bruce Newbold,1,jerusalem|journey|promised land|ship|wilderness,http://www.imdb.com/title/tt0349159/?ref_=fn_tt_tt_1,30,English,USA,PG-13,2000000,2003,69,3.3,1.85,32;',
       'Color,Simon Napier-Bell,,81,0,8,Tim Rice,674,,Documentary,Alice Cooper,"To Be Frank, Sinatra at 100\xa0",7,712,Louis Walsh,0,,http://www.imdb.com/title/tt4704314/?ref_=fn_tt_tt_1,,English,UK,,2000000,2015,27,7.4,,0;',
       'Color,Mark Illsley,77,98,3,327,Illeana Douglas,349,1943649,Comedy|Crime|Romance,Ally Walker,"Happy, Texas\xa0",8697,2095,Jeremy Northam,3,banker|beauty pageant|escaped convict|gay|pageant,http://www.imdb.com/title/tt0162360/?ref_=fn_tt_tt_1,122,English,USA,PG-13,1700000,1999,347,6.3,1.85,374;',
       'Color,Guy Ritchie,116,120,0,452,Jason Flemyng,26000,3650677,Comedy|Crime,Jason Statham,"Lock, Stock and Two Smoking Barrels\xa0",414976,28294,Dexter Fletcher,1,antique|cockney accent|hatchet|money|shotgun,http://www.imdb.com/title/tt0120735/?ref_=fn_tt_tt_1,523,English,UK,R,960000,1998,1000,8.2,1.85,21000;',
       'Color,Steven Soderbergh,58,100,0,65,Laura San Giacomo,828,24741700,Drama,Peter Gallagher,"Sex, Lies, and Videotape\xa0",37785,1431,Steven Brill,2,affair|interview|marriage|sex|videotape,http://www.imdb.com/title/tt0098724/?ref_=fn_tt_tt_1,95,English,USA,R,1200000,1989,531,7.2,1.85,2000;',
       'Color,Sergio Leone,181,142,0,24,Luigi Pistilli,16000,6100000,Western,Clint Eastwood,"The Good, the Bad and the Ugly\xa0",503509,16089,Enzo Petito,3,civil war|hitman|outlaw|shootout|spaghetti western,http://www.imdb.com/title/tt0060196/?ref_=fn_tt_tt_1,780,Italian,Italy,Approved,1200000,1966,34,8.9,2.35,20000;',
       'Color,Léa Pool,23,97,4,,,,24784,Documentary,,"Pink Ribbons, Inc.\xa0",591,0,,0,breast cancer|comma in title|period in title|punctuation in title|three word title,http://www.imdb.com/title/tt2035599/?ref_=fn_tt_tt_1,10,English,Canada,Not Rated,1200000,2011,,7.4,,5000;',
       'Color,Robert Kenner,120,94,11,2,Eric Schlosser,37,4417124,Documentary,Michael Pollan,"Food, Inc.\xa0",42389,42,Barbara Kowalcyk,0,farming|flesh eating|food|food industry|gluttony,http://www.imdb.com/title/tt1286537/?ref_=fn_tt_tt_1,183,English,USA,PG,,2008,3,7.9,1.78,37000;',
       'Color,Cristian Mungiu,233,113,163,27,Vlad Ivanov,131,1185783,Drama,Anamaria Marinca,"4 Months, 3 Weeks and 2 Days\xa0",44763,264,Alexandru Potocean,0,female rear nudity|friend|hotel|rainy night|towel,http://www.imdb.com/title/tt1032846/?ref_=fn_tt_tt_1,172,Romanian,Romania,Not Rated,590000,2007,60,7.9,1.85,14000;',
       'Color,Jamie Travis,115,88,15,567,Ari Graynor,938,1243961,Comedy,James Wolk,"For a Good Time, Call...\xa0",13421,3770,Nia Vardalos,0,friend|friendship|gay|phone sex|sex,http://www.imdb.com/title/tt1996264/?ref_=fn_tt_tt_1,34,English,USA,R,850000,2012,904,6.0,2.35,0;',
       'Color,Jesse Peretz,16,94,37,104,Eli Marienthal,318,40542,Drama|Romance,Robert John Burke,"First Love, Last Rites\xa0",294,751,Natasha Gregson Wagner,0,listening to music|misfit|panties|red panties|sex,http://www.imdb.com/title/tt0128214/?ref_=fn_tt_tt_1,16,English,USA,R,300000,1997,157,5.5,,26;',
       ' Black and White,Eugène Lourié,67,80,7,21,Cecil Kellaway,57,5000000,Adventure|Horror|Sci-Fi,Kenneth Tobey,"The Beast from 20,000 Fathoms\xa0",4812,205,Ross Elliott,0,arctic|beast|dinosaur|monster|rhedosaurus,http://www.imdb.com/title/tt0045546/?ref_=fn_tt_tt_1,88,English,USA,Approved,210000,1953,40,6.7,1.37,465;',
       'Color,Richard Fleischer,69,127,130,51,Robert J. Wilke,618,,Adventure|Drama|Family|Fantasy|Sci-Fi,James Mason,"20,000 Leagues Under the Sea\xa0",22124,800,Paul Lukas,0,captain|expedition|sea|submarine|whale,http://www.imdb.com/title/tt0046672/?ref_=fn_tt_tt_1,108,English,USA,Approved,5000000,1954,53,7.2,1.37,0;',

In [193]:
pattern = r'(?:[^,"]|"(?:[^"]|"")*")+'
for index, row in df.iterrows():
    if not pd.isnull(row.color):
        parts = re.findall(pattern, row.color)
        row_split = [part.strip() for part in parts]
        if len(row_split) > 1:
            df_col = df.columns
            for i in range(len(row_split)):
                if pd.isnull(df.loc[index, df_col[i]]):
                    if row_split[i].isdigit():
                        row_split[i] = int(row_split[i])
                    df.loc[index, df_col[i]] = row_split[i]

24 ['Color', '20', '22', '271', 'Soleil Moon Frye', '870', 'Comedy|Family|Fantasy', 'Nate Richert', '"Sabrina, the Teenage Witch\xa0            "', '24420', '2433', 'Caroline Rhea', '1', 'female protagonist|hereditary gift of witchcraft|magic|supernatural|witch', 'http://www.imdb.com/title/tt0115341/?ref_=fn_tt_tt_1', '94', 'English', 'USA', 'TV-G', '3000000', '558', '6.6', '1.33', '990;'] Color,,20,22,,271,Soleil Moon Frye,870,,Comedy|Family|Fantasy,Nate Richert,"Sabrina, the Teenage Witch             ",24420,2433,Caroline Rhea,1,female protagonist|hereditary gift of witchcraft|magic|supernatural|witch,http://www.imdb.com/title/tt0115341/?ref_=fn_tt_tt_1,94,English,USA,TV-G,3000000,,558,6.6,1.33,990;
27 ['Color', 'Melville Shavelson', '8', '111', '5', '559', 'Tom Bosley', '6000', 'Comedy|Family', 'Lucille Ball', '"Yours, Mine and Ours\xa0"', '5888', '7493', 'Tim Matheson', '0', 'nurse|parent|sibling|widow|widower', 'http://www.imdb.com/title/tt0063829/?ref_=fn_tt_tt_1', '61', 'English', 'USA', 'Unrated', '2500000', '1968', '584', '7.2', '1.85', '0;'] Color,Melville Shavelson,8,111,5,559,Tom Bosley,6000,,Comedy|Family,Lucille Ball,"Yours, Mine and Ours ",5888,7493,Tim Matheson,0,nurse|parent|sibling|widow|widower,http://www.imdb.com/title/tt0063829/?ref_=fn_tt_tt_1,61,English,USA,Unrated,2500000,1968,584,7.2,1.85,0;
27 ['Color', 'Martin Scorsese', '59', '136', '17000', '213', 'Liza Minnelli', '22000', 'Drama|Music|Musical|Romance', 'Robert De Niro', '"New York, New York\xa0"', '13548', '23378', 'Mary Kay Place', '0', 'love|musician|saxophonist|singer|songwriter', 'http://www.imdb.com/title/tt0076451/?ref_=fn_tt_tt_1', '75', 'English', 'USA', 'PG', '14000000', '1977', '740', '6.7', '1.66', '932;'] Color,Martin Scorsese,59,136,17000,213,Liza Minnelli,22000,,Drama|Music|Musical|Romance,Robert De Niro,"New York, New York ",13548,23378,Mary Kay Place,0,love|musician|saxophonist|singer|songwriter,http://www.imdb.com/title/tt0076451/?ref_=fn_tt_tt_1,75,English,USA,PG,14000000,1977,740,6.7,1.66,932;
27 ['Color', 'Yimou Zhang', '101', '95', '611', '3', 'Ni Yan', '9', '190666', 'Comedy|Drama', 'Honglei Sun', '"A Woman, a Gun and a Noodle Shop\xa0"', '2410', '18', 'Dahong Ni', '1', 'betrayal|husband wife relationship|murder|noodles|salary', 'http://www.imdb.com/title/tt1428556/?ref_=fn_tt_tt_1', '20', 'Mandarin', 'China', 'R', '2009', '4', '5.7', '2.35', '784;'] Color,Yimou Zhang,101,95,611,3,Ni Yan,9,190666,Comedy|Drama,Honglei Sun,"A Woman, a Gun and a Noodle Shop ",2410,18,Dahong Ni,1,betrayal|husband wife relationship|murder|noodles|salary,http://www.imdb.com/title/tt1428556/?ref_=fn_tt_tt_1,20,Mandarin,China,R,,2009,4,5.7,2.35,784;
27 ['Color', 'Neal Brennan', '83', '89', '23', '503', 'Noureen DeWulf', '839', '15102127', 'Comedy', 'Rob Riggle', '"The Goods: Live Hard, Sell Hard\xa0"', '17790', '3973', 'Charles Napier', '5', "fourth of july|looking at one's self in a mirror|mirror|sex toy|young version of character", 'http://www.imdb.com/title/tt1092633/?ref_=fn_tt_tt_1', '59', 'English', 'USA', 'R', '2009', '700', '5.8', '1.85', '0;'] Color,Neal Brennan,83,89,23,503,Noureen DeWulf,839,15102127,Comedy,Rob Riggle,"The Goods: Live Hard, Sell Hard ",17790,3973,Charles Napier,5,fourth of july|looking at one's self in a mirror|mirror|sex toy|young version of character,http://www.imdb.com/title/tt1092633/?ref_=fn_tt_tt_1,59,English,USA,R,,2009,700,5.8,1.85,0;
27 ['Color', 'David Schwimmer', '168', '100', '0', '231', 'Iddo Goldberg', '427', '5998971', 'Comedy|Romance|Sport', 'Dylan Moran', '"Run, Fatboy, Run\xa0"', '58509', '1022', 'India de Beaufort', '0', 'blister|gym|marathon|training|wedding', 'http://www.imdb.com/title/tt0425413/?ref_=fn_tt_tt_1', '143', 'English', 'UK', 'PG-13', '2007', '269', '6.6', '2.35', '0;'] Color,David Schwimmer,168,100,0,231,Iddo Goldberg,427,5998971,Comedy|Romance|Sport,Dylan Moran,"Run, Fatboy, Run ",58509,1022,India de Beaufort,0,blister|gym|marathon|training|wedding,http://www.imdb.com/title/tt0425413/?ref_=fn_tt_tt_1,143,English,UK,PG-13,,2007,269,6.6,2.35,0;
26 ['Color', 'Rafa Lara', '12', '125', '21', '36', 'Andrés Montiel', '78', '169379', 'Drama|History|War', 'Jorge Luis Moreno', '"Cinco de Mayo, La Batalla\xa0"', '683', '221', 'William Miller', '1', 'http://www.imdb.com/title/tt2553908/?ref_=fn_tt_tt_1', '3', 'Spanish', 'Mexico', 'R', '10000000', '2013', '61', '6.2', '874;'] Color,Rafa Lara,12,125,21,36,Andrés Montiel,78,169379,Drama|History|War,Jorge Luis Moreno,"Cinco de Mayo, La Batalla ",683,221,William Miller,1,,http://www.imdb.com/title/tt2553908/?ref_=fn_tt_tt_1,3,Spanish,Mexico,R,10000000,2013,61,6.2,,874;
26 ['Color', 'Martyn Pick', '19', '76', '4', '151', 'Steven Waddington', '722', 'Action|Animation|Fantasy|Horror|Mystery|Sci-Fi|Thriller', 'Sean Pertwee', '"Ultramarines: A Warhammer 40,000 Movie\xa0"', '4990', '1254', 'Donald Sumpter', '0', 'grimdark|mutilated corpse|space marine|ultramarines|warhammer 40k', 'http://www.imdb.com/title/tt1679332/?ref_=fn_tt_tt_1', '64', 'English', 'UK', 'R', '2010', '212', '5.7', '1.85', '0;'] Color,Martyn Pick,19,76,4,151,Steven Waddington,722,,Action|Animation|Fantasy|Horror|Mystery|Sci-Fi|Thriller,Sean Pertwee,"Ultramarines: A Warhammer 40,000 Movie ",4990,1254,Donald Sumpter,0,grimdark|mutilated corpse|space marine|ultramarines|warhammer 40k,http://www.imdb.com/title/tt1679332/?ref_=fn_tt_tt_1,64,English,UK,R,,2010,212,5.7,1.85,0;
27 ['Color', 'Adam Brooks', '160', '112', '20', '61', 'Sakina Jaffrey', '16000', '31973840', 'Comedy|Drama|Romance', 'Ryan Reynolds', '"Definitely, Maybe\xa0"', '127760', '16289', 'Paulina Gerzon', '5', 'college|daughter|girl|sex|wisconsin', 'http://www.imdb.com/title/tt0832266/?ref_=fn_tt_tt_1', '168', 'English', 'Germany', 'PG-13', '2008', '109', '7.2', '2.35', '0;'] Color,Adam Brooks,160,112,20,61,Sakina Jaffrey,16000,31973840,Comedy|Drama|Romance,Ryan Reynolds,"Definitely, Maybe ",127760,16289,Paulina Gerzon,5,college|daughter|girl|sex|wisconsin,http://www.imdb.com/title/tt0832266/?ref_=fn_tt_tt_1,168,English,Germany,PG-13,,2008,109,7.2,2.35,0;
27 ['Color', 'Richard Fleischer', '69', '127', '130', '51', 'Robert J. Wilke', '617', 'Adventure|Drama|Family|Fantasy|Sci-Fi', 'James Mason', '"20,000 Leagues Under the Sea\xa0"', '22123', '799', 'Paul Lukas', '0', 'captain|expedition|sea|submarine|whale', 'http://www.imdb.com/title/tt0046672/?ref_=fn_tt_tt_1', '108', 'English', 'USA', 'Approved', '5000000', '1954', '53', '7.2', '1.37', '0;'] Color,Richard Fleischer,69,127,130,51,Robert J. Wilke,617,,Adventure|Drama|Family|Fantasy|Sci-Fi,James Mason,"20,000 Leagues Under the Sea ",22123,799,Paul Lukas,0,captain|expedition|sea|submarine|whale,http://www.imdb.com/title/tt0046672/?ref_=fn_tt_tt_1,108,English,USA,Approved,5000000,1954,53,7.2,1.37,0;
26 ['Color', 'Feroz Abbas Khan', '16', '136', '0', '14', 'Bhoomika Chawla', '75', '240425', 'Biography|Drama|History', 'Akshaye Khanna', '"Gandhi, My Father\xa0"', '1311', '172', 'Darshan Jariwala', '0', 'africa|hindu|india|muslim|south africa', 'http://www.imdb.com/title/tt0459293/?ref_=fn_tt_tt_1', '25', 'Hindi', 'India', '2007', '45', '7.4', '2.35', '133;'] Color,Feroz Abbas Khan,16,136,0,14,Bhoomika Chawla,75,240425,Biography|Drama|History,Akshaye Khanna,"Gandhi, My Father ",1311,172,Darshan Jariwala,0,africa|hindu|india|muslim|south africa,http://www.imdb.com/title/tt0459293/?ref_=fn_tt_tt_1,25,Hindi,India,,,2007,45,7.4,2.35,133;
27 ['Color', 'Jorge Ramírez Suárez', '26', '120', '45', '69', 'Adriana Barraza', '623', '100412', 'Drama', 'Hector Kotsifakis', '"Buen Día, Ramón\xa0"', '2112', '824', 'Arcelia Ramírez', '0', 'http://www.imdb.com/title/tt2876428/?ref_=fn_tt_tt_1', '7', 'German', 'Mexico', 'PG-13', '4000000', '2013', '85', '7.7', '2.35', '0;'] Color,Jorge Ramírez Suárez,26,120,45,69,Adriana Barraza,623,100412,Drama,Hector Kotsifakis,"Buen Día, Ramón ",2112,824,Arcelia Ramírez,0,,http://www.imdb.com/title/tt2876428/?ref_=fn_tt_tt_1,7,German,Mexico,PG-13,4000000,2013,85,7.7,2.35,0;
26 ['Color', 'Jay Oliva', '44', '148', '41', '739', 'Mark Valley', '2000', 'Action|Animation|Crime|Sci-Fi|Thriller', 'Michael Emerson', '"Batman: The Dark Knight Returns, Part 2\xa0"', '30434', '5526', 'Grey Griffin', '0', 'batman|joker|mutant|tattoo on breast|the joker', 'http://www.imdb.com/title/tt2166834/?ref_=fn_tt_tt_1', '55', 'English', 'USA', 'PG-13', '3500000', '2013', '774', '8.4', '5000;'] Color,Jay Oliva,44,148,41,739,Mark Valley,2000,,Action|Animation|Crime|Sci-Fi|Thriller,Michael Emerson,"Batman: The Dark Knight Returns, Part 2 ",30434,5526,Grey Griffin,0,batman|joker|mutant|tattoo on breast|the joker,http://www.imdb.com/title/tt2166834/?ref_=fn_tt_tt_1,55,English,USA,PG-13,3500000,2013,774,8.4,,5000;
25 ['Color', 'Joe Cross', '13', '97', '65', '0', 'Joel Fuhrman', '65', 'Documentary', 'Joe Cross', '"Fat, Sick & Nearly Dead\xa0"', '6429', '67', 'Amy Badberg', '2', 'fat|food|health|juice|obese', 'http://www.imdb.com/title/tt1227378/?ref_=fn_tt_tt_1', '25', 'English', 'Australia', '2500000', '2010', '2', '7.6', '10000;'] Color,Joe Cross,13,97,65,0,Joel Fuhrman,65,,Documentary,Joe Cross,"Fat, Sick & Nearly Dead ",6429,67,Amy Badberg,2,fat|food|health|juice|obese,http://www.imdb.com/title/tt1227378/?ref_=fn_tt_tt_1,25,English,Australia,,2500000,2010,2,7.6,,10000;
27 ['Color', 'Tim McCanlies', '15', '97', '23', '326', "Michael O'Neill", '982', '565592', 'Comedy|Drama|Family', 'Ethan Embry', '"Dancer, Texas Pop. 81\xa0"', '2189', '2580', 'Alexandra Holden', '0', 'best friend|friendship|population|state in title|texas', 'http://www.imdb.com/title/tt0118925/?ref_=fn_tt_tt_1', '63', 'English', 'USA', 'PG', '1998', '599', '6.8', '1.85', '500;'] Color,Tim McCanlies,15,97,23,326,Michael O'Neill,982,565592,Comedy|Drama|Family,Ethan Embry,"Dancer, Texas Pop. 81 ",2189,2580,Alexandra Holden,0,best friend|friendship|population|state in title|texas,http://www.imdb.com/title/tt0118925/?ref_=fn_tt_tt_1,63,English,USA,PG,,1998,599,6.8,1.85,500;
27 ['Color', 'Yimou Zhang', '101', '95', '611', '3', 'Ni Yan', '9', '190666', 'Comedy|Drama', 'Honglei Sun', '"A Woman, a Gun and a Noodle Shop\xa0"', '2410', '18', 'Dahong Ni', '1', 'betrayal|husband wife relationship|murder|noodles|salary', 'http://www.imdb.com/title/tt1428556/?ref_=fn_tt_tt_1', '20', 'Mandarin', 'China', 'R', '2009', '4', '5.7', '2.35', '784;'] Color,Yimou Zhang,101,95,611,3,Ni Yan,9,190666,Comedy|Drama,Honglei Sun,"A Woman, a Gun and a Noodle Shop ",2410,18,Dahong Ni,1,betrayal|husband wife relationship|murder|noodles|salary,http://www.imdb.com/title/tt1428556/?ref_=fn_tt_tt_1,20,Mandarin,China,R,,2009,4,5.7,2.35,784;
27 ['Color', 'Robert Kenner', '120', '94', '11', '2', 'Eric Schlosser', '37', '4417124', 'Documentary', 'Michael Pollan', '"Food, Inc.\xa0"', '42389', '42', 'Barbara Kowalcyk', '0', 'farming|flesh eating|food|food industry|gluttony', 'http://www.imdb.com/title/tt1286537/?ref_=fn_tt_tt_1', '183', 'English', 'USA', 'PG', '2008', '3', '7.9', '1.78', '37000;'] Color,Robert Kenner,120,94,11,2,Eric Schlosser,37,4417124,Documentary,Michael Pollan,"Food, Inc. ",42389,42,Barbara Kowalcyk,0,farming|flesh eating|food|food industry|gluttony,http://www.imdb.com/title/tt1286537/?ref_=fn_tt_tt_1,183,English,USA,PG,,2008,3,7.9,1.78,37000;
27 ['Color', 'Jesse Peretz', '16', '94', '37', '104', 'Eli Marienthal', '318', '40542', 'Drama|Romance', 'Robert John Burke', '"First Love, Last Rites\xa0"', '294', '751', 'Natasha Gregson Wagner', '0', 'listening to music|misfit|panties|red panties|sex', 'http://www.imdb.com/title/tt0128214/?ref_=fn_tt_tt_1', '16', 'English', 'USA', 'R', '300000', '1997', '157', '5.5', '26;'] Color,Jesse Peretz,16,94,37,104,Eli Marienthal,318,40542,Drama|Romance,Robert John Burke,"First Love, Last Rites ",294,751,Natasha Gregson Wagner,0,listening to music|misfit|panties|red panties|sex,http://www.imdb.com/title/tt0128214/?ref_=fn_tt_tt_1,16,English,USA,R,300000,1997,157,5.5,,26;
27 ['Color', 'Richard Fleischer', '69', '127', '130', '51', 'Robert J. Wilke', '618', 'Adventure|Drama|Family|Fantasy|Sci-Fi', 'James Mason', '"20,000 Leagues Under the Sea\xa0"', '22124', '800', 'Paul Lukas', '0', 'captain|expedition|sea|submarine|whale', 'http://www.imdb.com/title/tt0046672/?ref_=fn_tt_tt_1', '108', 'English', 'USA', 'Approved', '5000000', '1954', '53', '7.2', '1.37', '0;'] Color,Richard Fleischer,69,127,130,51,Robert J. Wilke,618,,Adventure|Drama|Family|Fantasy|Sci-Fi,James Mason,"20,000 Leagues Under the Sea ",22124,800,Paul Lukas,0,captain|expedition|sea|submarine|whale,http://www.imdb.com/title/tt0046672/?ref_=fn_tt_tt_1,108,English,USA,Approved,5000000,1954,53,7.2,1.37,0;
26 ['Color', 'Stephen Langford', '2', '82', '7', '50', 'Gabriela Castillo', '143', 'Family', 'Kevin P. Farley', '"Dude, Where\'s My Dog?!\xa0"', '73', '417', 'Brandon Middleton', '0', 'http://www.imdb.com/title/tt3109200/?ref_=fn_tt_tt_1', '4', 'English', 'USA', 'PG', '20000', '2014', '134', '3.2', '1.85', '178;'] Color,Stephen Langford,2,82,7,50,Gabriela Castillo,143,,Family,Kevin P. Farley,"Dude, Where's My Dog?! ",73,417,Brandon Middleton,0,,http://www.imdb.com/title/tt3109200/?ref_=fn_tt_tt_1,4,English,USA,PG,20000,2014,134,3.2,1.85,178;
25 ['Color', 'Sut Jhally', '16', '80', '3', '0', 'Seth Ackerman', '103', 'Documentary', 'Noam Chomsky', '"Peace, Propaganda & the Promised Land\xa0"', '496', '103', 'Arik Ascherman', '3', 'arab israeli conflict|israel|media|middle east|palestine', 'http://www.imdb.com/title/tt0428959/?ref_=fn_tt_tt_1', '13', 'English', 'USA', '70000', '2004', '0', '8.3', '110;'] Color,Sut Jhally,16,80,3,0,Seth Ackerman,103,,Documentary,Noam Chomsky,"Peace, Propaganda & the Promised Land ",496,103,Arik Ascherman,3,arab israeli conflict|israel|media|middle east|palestine,http://www.imdb.com/title/tt0428959/?ref_=fn_tt_tt_1,13,English,USA,,70000,2004,0,8.3,,110;
26 ['Color', 'Julie Davis', '5', '86', '12', '117', 'Meredith Scott Lynn', '238', '33598', 'Comedy|Romance', 'Jack McGee', '"I Love You, Don\'t Touch Me!\xa0"', '405', '623', 'Tim DeZarn', '1', 'female frontal nudity|female rear nudity|title directed by female|virgin|written and directed by cast member', 'http://www.imdb.com/title/tt0130019/?ref_=fn_tt_tt_1', '15', 'English', 'USA', 'R', '1997', '166', '5.4', '97;'] Color,Julie Davis,5,86,12,117,Meredith Scott Lynn,238,33598,Comedy|Romance,Jack McGee,"I Love You, Don't Touch Me! ",405,623,Tim DeZarn,1,female frontal nudity|female rear nudity|title directed by female|virgin|written and directed by cast member,http://www.imdb.com/title/tt0130019/?ref_=fn_tt_tt_1,15,English,USA,R,,1997,166,5.4,,97;
25 ['Color', 'Collin Joseph Neal', '7', '75', '14', '130', 'Thomas Brophy', '252', 'Horror|Thriller', 'Julianne Gabert', '"Run, Hide, Die\xa0"', '106', '638', 'Ronee Collins', '0', 'http://www.imdb.com/title/tt2442662/?ref_=fn_tt_tt_1', '5', 'English', 'USA', '50000', '2012', '132', '3.7', '2.35', '225;'] Color,Collin Joseph Neal,7,75,14,130,Thomas Brophy,252,,Horror|Thriller,Julianne Gabert,"Run, Hide, Die ",106,638,Ronee Collins,0,,http://www.imdb.com/title/tt2442662/?ref_=fn_tt_tt_1,5,English,USA,,50000,2012,132,3.7,2.35,225;

In [10]:
df.isna().sum()

color                         18
director_name                171
num_critic_for_reviews       116
duration                      84
director_facebook_likes      171
actor_3_facebook_likes        90
actor_2_name                  80
actor_1_facebook_likes        75
gross                        939
genres                        69
actor_1_name                  75
movie_Title                   69
num_voted_users               69
cast_total_facebook_likes     69
actor_3_name                  90
facenumber_in_poster          82
plot_keywords                216
movie_imdb_link               69
num_user_for_reviews          87
language                      80
country                       72
content_rating               366
budget                       549
title_year                   174
actor_2_facebook_likes        80
imdb_score                    69
aspect_ratio                 389
movie_facebook_likes          69
dtype: int64

In [11]:
df.dropna(subset=['color', 'title_year', 'duration', 'language', 'country', 'num_critic_for_reviews'], inplace=True)
df.reset_index(drop=True, inplace=True)

Затем восполним в ДатаФрейме все пропущенные значения.

In [12]:
df.isna().sum()

color                          0
director_name                  0
num_critic_for_reviews         0
duration                       0
director_facebook_likes        0
actor_3_facebook_likes        15
actor_2_name                   8
actor_1_facebook_likes         5
gross                        708
genres                         0
actor_1_name                   5
movie_Title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  15
facenumber_in_poster          11
plot_keywords                109
movie_imdb_link                0
num_user_for_reviews           0
language                       0
country                        0
content_rating               224
budget                       364
title_year                     0
actor_2_facebook_likes         8
imdb_score                     0
aspect_ratio                 254
movie_facebook_likes           0
dtype: int64

В столбцах *gross* и *budget* пропущенные значения заменим на медиальное значение в год выпуска фильма.

In [13]:
df_budget_median = df.groupby(['title_year'])['budget'].median()
df_gross_median = df.groupby(['title_year'])['gross'].median().fillna(method='ffill')

In [14]:
def filling_nan_value(df, side_df, column_to_replace, side_column):
    for i in df.index:
        if pd.isnull(df[column_to_replace][i]):
            df.loc[i, column_to_replace] = side_df[df.loc[i, side_column]]
    return df

In [15]:
filling_nan_value(df, df_budget_median, 'budget', 'title_year')
filling_nan_value(df, df_budget_median, 'gross', 'title_year').head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000;
1,Colour,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0;
2,Colour,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000;
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000;
4,Colour,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000;

In [15]:
df.groupby(['content_rating'])['content_rating'].count()

content_rating
Approved       50
G             110
GP              6
M               5
NC-17           7
Not Rated     109
PG            689
PG-13        1434
Passed          9
R            2088
TV-14           3
TV-G            4
TV-PG           1
Unrated        58
X              13
Name: content_rating, dtype: int64

In [16]:
df.content_rating.fillna("Unrated", inplace=True)

In [17]:
df.isna().sum()

color                          11
Director_Name                   0
num_critic_for_reviews          0
duration                        0
director_Facebook_likes         0
actor_3_Facebook_likes         15
actor_2_name                    8
Actor_1_Facebook_likes          5
gross                           0
genres                          0
actor_1_name                    5
movie_Title                     0
num_voted_users                 0
 cast_total_facebook_likes      0
actor_3_name                   15
facenumber_in_poster           12
plot_keywords                 111
movie_imdb_link                 0
num_user_for_reviews            0
language                        0
country                         0
content_rating                  0
budget                          0
title_year                      0
actor_2_facebook_likes          8
imdb_score                      0
aspect_ratio                  259
movie_facebook_likes;           0
dtype: int64

**Выводы:<br>**
Мы обнаружили три проблемы с данными:<br>

- Много столбцов, которые не будут использоваться при анализе
- Отсутствующие значения
- Явные и неявные дубликаты.

Все пропущенные значения в столбцах *gross* и *budget* были заменены на медиальные значения по году выпуска фильма. Также пропущенные значения в стоблце *content_rating* были заменены на *неизвестно*. А все строчки содержащие пустые значения в столбцах *title_year*, *duration*, *language*, *country*, *num_Critic_for_reviews* были удалены.

Отсутствие дубликатов сделает результаты более точными и понятными.

Теперь можно перейти к проверке гипотез.

# **Этап 3**. **Проверка гипотез** <a id='hypotheses'></a>

Но перед началом проверки гипотез мы приведём все цены к одному году, чтобы было проще оценивать продажи фильмов.

In [18]:
from bs4 import BeautifulSoup
import requests

Импорт необходимых библиотек для извлечения данных из файлов *HTML*

In [19]:
url = "https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/"

r = requests.get(url)
data = r.text
soup = BeautifulSoup(data, 'html.parser')

table = soup.find('table')
rows = table.tbody.findAll('tr')

years = []
cpis = []

for row in rows:
    year = row.findAll('td')[0].get_text()
    if year.isdigit() and int(year) < 2017:
        years.append(int(year))
        cpis.append(float(row.findAll('td')[13].get_text()))

cpi_table = pd.DataFrame({"year": years, "avg_annual_cpi": cpis})

cpi_table.head()

   year  avg_annual_cpi
0  1913             9.9
1  1914            10.0
2  1915            10.1
3  1916            10.9
4  1917            12.8

Определим функцию для перевода номинальных долларов в реальные доллары в 
2016 году с использованием ИПЦ. Будем использовать следующую формулу для расчета
реальной стоимости:
Прошлые доллары в пересчете на недавние доллары = (сумма в долларах × *CPI* на 
конец периода) ÷ *CPI* на начало периода

In [20]:
def get_real_value(numinal_amt, old_cpi, new_cpi):
    real_value = (numinal_amt * new_cpi) / old_cpi
    return real_value

В 2016 г. нас интересуют реальные доллары, поэтому упростим себе задачу и установим константу.

In [21]:
CPI_2016 = float(cpi_table[cpi_table['year'] == 2016]['avg_annual_cpi'])

Теперь преобразуем значения столбцов *budget* и *gross* для каждого фильма в реальные долларовые эквиваленты 2016 г.

In [22]:
real_domestic_gross = []
real_budget_values = []

for index, row in df.iterrows():
    gross = row['gross']
    budget = row['budget']
    year = row['title_year']
    cpi = float(cpi_table[cpi_table['year'] == int(year)]['avg_annual_cpi'])
    real_gross = get_real_value(gross, cpi, CPI_2016)
    real_budget = get_real_value(budget, cpi, CPI_2016)
    real_domestic_gross.append(real_gross)
    real_budget_values.append(real_budget)
    
df['real_domestic_gross'] = real_domestic_gross
df['real_budget_values'] = real_budget_values

Давайте также посчитаем окупаемость инвестиций (*ROI*) и абсолютную прибыль для каждого фильма. *ROI* покажет, какая киностудия получила наибольшую 
прибыль, исходя из первоначального бюджета фильма, и будет полезен при оценке успеха фильма в экономическом смысле. Мы будем хранить значения рентабельности инвестиций в процентах

In [23]:
profits = []
roi_vals = []

for index, row in df.iterrows():
    profit = row['real_domestic_gross'] - row['budget']
    budget = row['budget']
    num = profit - budget
    den = budget
    roi = (num/den)*100
    profits.append(profit)
    roi_vals.append(roi)
    
df['profit'] = profits
df['roi'] = roi_vals

In [24]:
df.head()

,color,Director_Name,num_critic_for_reviews,duration,director_Facebook_likes,actor_3_Facebook_likes,actor_2_name,Actor_1_Facebook_likes,gross,genres,...,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes;,real_domestic_gross,real_budget_values,profit,roi
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,237000000.0,2009.0,936.0,7.9,1.78,33000;,8.507937e+08,2.651368e+08,6.137937e+08,158.984681
1,Colour,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,300000000.0,2007.0,5000.0,7.1,2.35,0;,3.582208e+08,3.473329e+08,5.822075e+07,-80.593082
2,Colour,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,245000000.0,2015.0,393.0,6.8,2.35,85000;,2.025981e+08,2.480907e+08,-4.240186e+07,-117.306883
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,250000000.0,2012.0,23000.0,8.5,2.35,164000;,4.684551e+08,2.613385e+08,2.184551e+08,-12.617941
4,Colour,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,263700000.0,2012.0,632.0,6.6,2.35,24000;,7.637218e+07,2.756598e+08,-1.873278e+08,-171.038233

In [44]:
os.chdir('./data/')
cpi_table.to_csv('Lab1_Sheremetev_CPI.csv')

# *Гипотеза 1: Среднее количество обзоров и средняя оценка у фильмов из США среди критиков и граждан больше, чем по всему миру<a id='week'></a>*

Согласно Гипотезе 1, в среднем у фильмов из США больше обзоров, чем у фильмов из других стран. Для подтверждение нашей гипотезы нам нужно:

* Разделить фильмы по стране в которой они производились.
* Получить среднее количество оценок за фильмы из США и из других стран.
* Получить среднию оценку по фильмам из США и из других стран.

In [26]:
df_country = df.groupby(["country"])["num_critic_for_reviews", 
                                   "num_user_for_reviews", "imdb_score"].mean()

C:\Users\Кирилл\AppData\Local\Temp\ipykernel_5640\2397958334.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_country = df.groupby(["country"])["num_critic_for_reviews",

In [27]:
df_country

              num_critic_for_reviews  num_user_for_reviews  imdb_score
country
Afghanistan               105.000000             77.000000    7.400000
Argentina                 114.750000            101.000000    7.500000
Aruba                      67.000000            141.000000    4.800000
Australia                 138.921569            252.941176    6.492157
Bahamas                    64.000000             47.000000    4.400000
...                              ...                   ...         ...
Thailand                   65.800000             77.400000    6.080000
Turkey                     16.000000            159.000000    6.000000
UK                        158.359155            283.288732    6.776761
USA                       146.797858            295.354298    6.345867
West Germany               77.666667            248.666667    7.266667

[62 rows x 3 columns]

Среднее количество обзоров и средняя оценка фильма по миру.

In [28]:
df_reviews_world = df_country[df_country.index != 'USA'].mean()

Среднее число обзоров и средняя оценка по фильмам из США.

In [29]:
df_reviews_usa = df_country.loc['USA']

In [30]:
df_reviews_usa

num_critic_for_reviews    146.797858
num_user_for_reviews      295.354298
imdb_score                  6.345867
Name: USA, dtype: float64

создадим `pd.DataFrame`, чтобы получить таблицу, где столбцы `['country', 'num_critic_for_reviews', 'num_user_for_reviews']`

In [31]:
results = {
    "country": ["World", "USA"], 
    "num_critic_for_reviews": [df_reviews_world[0], df_reviews_usa[0]],
    "num_user_for_reviews": [df_reviews_world[1], df_reviews_usa[1]],
    "mean_imdb_score": [df_reviews_world[2], df_reviews_usa[2]]
          }
results_hypothesis1 = pd.DataFrame(results, columns=["country", 
    "num_critic_for_reviews", "num_user_for_reviews", "mean_imdb_score"])
results_hypothesis1

  country  num_critic_for_reviews  num_user_for_reviews  mean_imdb_score
0   World              101.655877            129.975010         6.658159
1     USA              146.797858            295.354298         6.345867

**Выводы**

Данные показывают, что присутствует огромный разрыв между количеством пользовательских оценок, а разница в количестве оценок критиков не такая большая. Но при этом рейтинг у фильмов из США немного меньше, чем в фильмов по миру.

Так что Гипотеза 1 только отчасти является верной.

# *Гипотеза 2: Фильм из США с самой большой выручкой заработал больше чем все фильмы из России и СССР <a id='week'></a>*

Согласно Гипотезе 2, фильм из США с самой высокой выручкой заработал больше, чем все фильмы из России и СССР. Для подтверждение нашей гипотезы нам нужно:

* Найти фильм из США с самой большой выгодой
* Получить сумму по выручки всех фильмов из России и СССР

In [38]:
usa_max_roi = df[df.country == "USA"]["roi"].max()
df_usa_max_roi = df.loc[df["roi"] == usa_max_roi]
df_usa_max_roi

,color,Director_Name,num_critic_for_reviews,duration,director_Facebook_likes,actor_3_Facebook_likes,actor_2_name,Actor_1_Facebook_likes,gross,genres,...,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes;,real_domestic_gross,real_budget_values,profit,roi
4807,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,20000000.0,Drama|Horror|Thriller,...,1400.0,2013.0,0.0,6.3,NaN,16;,2.060526e+07,1442.368334,2.060386e+07,1.471604e+06

In [39]:
df_sum_roi = df.loc[((df.country == "Russia") | (df.country == "Soviet Union"))]
df_sum_roi

,color,Director_Name,num_critic_for_reviews,duration,director_Facebook_likes,actor_3_Facebook_likes,actor_2_name,Actor_1_Facebook_likes,gross,genres,...,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes;,real_domestic_gross,real_budget_values,profit,roi
1030,Black and White,Andrei Tarkovsky,144.0,115.0,0.0,12.0,Anatoliy Solonitsyn,29.0,1700000.0,Drama|Mystery|Sci-Fi,...,1000000.0,1972.0,29.0,8.1,2.35,0;,9.761050e+06,5.741794e+06,8.761050e+06,776.105024
1345,Color,Fedor Bondarchuk,14.0,115.0,35.0,30.0,Fedor Bondarchuk,463.0,18500000.0,Action|Adventure|Sci-Fi,...,29500000.0,2009.0,35.0,5.3,NaN,240;,2.069633e+07,3.300226e+07,-8.803666e+06,-129.842934
1684,Color,Maksim Fadeev,5.0,85.0,0.0,21.0,Fedor Bondarchuk,114.0,19000000.0,Adventure|Animation|Fantasy,...,30000000.0,2015.0,35.0,4.1,NaN,161;,1.923969e+07,3.037845e+07,-1.076031e+07,-135.867709
1823,Color,Oleg Stepchenko,25.0,107.0,0.0,48.0,Igor Jijikine,1000.0,17000000.0,Adventure|Fantasy|Mystery|Thriller,...,26000000.0,2014.0,65.0,5.4,1.85,0;,1.723489e+07,2.635924e+07,-8.765110e+06,-133.711960
1951,Color,Inna Evlannikova,16.0,85.0,0.0,7.0,Evgeniy Mironov,21.0,21000000.0,Adventure|Animation|Comedy|Family,...,25000000.0,2010.0,15.0,5.2,NaN,200;,2.311400e+07,2.751667e+07,-1.885997e+06,-107.543989
2238,Color,Robert Rodriguez,260.0,107.0,0.0,99.0,Demián Bichir,2000.0,7268659.0,Action|Comedy|Crime|Thriller,...,20000000.0,2013.0,749.0,5.6,1.85,48000;,7.488631e+06,2.060526e+07,-1.251137e+07,-162.556844
2377,Color,Sergey Bodrov,160.0,126.0,44.0,9.0,Khulan Chuluun,627.0,5701643.0,Adventure|Biography|Drama|History|War,...,20000000.0,2007.0,12.0,7.3,2.35,0;,6.601226e+06,2.315552e+07,-1.339877e+07,-166.993868
2655,Color,Andrey Zvyagintsev,103.0,99.0,445.0,9.0,Vladimir Garin,20.0,502028.0,Drama|Mystery|Thriller,...,25000000.0,2003.0,13.0,8.0,1.85,0;,6.548382e+05,3.260965e+07,-2.434516e+07,-197.380647
3414,Black and White,Aleksey German,121.0,177.0,23.0,0.0,Yuriy Tsurilo,4.0,20000000.0,Drama|Sci-Fi,...,7000000.0,2013.0,4.0,6.7,1.66,1000;,2.060526e+07,7.211842e+06,1.360526e+07,94.360885
3420,Color,Vladlen Barbe,10.0,80.0,0.0,26.0,Wendee Lee,99.0,20000000.0,Adventure|Animation|Family,...,7000000.0,2012.0,62.0,5.3,NaN,453;,2.090708e+07,7.317478e+06,1.390708e+07,98.672564
3742,Color,Timur Bekmambetov,232.0,104.0,335.0,16.0,Aleksey Chadov,114.0,1487477.0,Fantasy|Thriller,...,4200000.0,2004.0,28.0,6.5,1.85,0;,1.889915e+06,5.336312e+06,-2.310085e+06,-155.002030
3813,Color,Aleksandr Veledinskiy,8.0,120.0,0.0,22.0,Elena Lyadova,114.0,20000000.0,Adventure|Drama,...,4000000.0,2013.0,45.0,7.5,NaN,282;,2.060526e+07,4.121052e+06,1.660526e+07,315.131548

In [40]:
results = {
    "country": ["USA", "Rus and Soviet"], 
    "roi": [df_usa_max_roi["roi"].iloc[0], df_sum_roi["roi"].sum()]
          }
results_hypothesis2 = pd.DataFrame(results, columns=["country", "roi"])
results_hypothesis2

          country           roi
0             USA  1.471604e+06
1  Rus and Soviet  9.537004e+01

**Выводы**

Данные показывают, что самый прибыльный фильм из США заработал больше, чем все фильмы из России и СССР.

Так что Гипотеза 2 кажется верной.

# *Гипотеза 3: Фантастические фильмы являются самыми дорогими в производстве <a id='week'></a>*

Согласно Гипотезе 3, фантастические фильмы являются самыми дорогими в производстве по сравнению с другими жанрами. Для подтверждение нашей гипотезы нам нужно:

* Получить все фанры
* Получить средние затраты за фильм в зависимости от жанра

Получаем все фанры

In [41]:
genres = set()
for i in df.genres.values:
    genres.update(i.split("|"))
genres

{'Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Thriller',
 'War',
 'Western'}

In [42]:
budget_genres = {}
for i in genres:
    budget_genres[i] = []

df_budget_genres = df[["genres", "real_budget_values"]]

for index, row in df_budget_genres.iterrows():
    genres_row = row["genres"].split("|")
    for i in genres_row:
        budget_genres[i].append(row["real_budget_values"])
        
for i in budget_genres.keys():
    budget_genres[i] = np.mean(budget_genres[i])

Находим среднию цену производства по жанру

In [43]:
results_hypothesis3 = pd.DataFrame(data=budget_genres.values(), index=budget_genres.keys(), 
                                   columns=["mean_budget_genres"])
results_hypothesis3 = results_hypothesis3.sort_values(by="mean_budget_genres", ascending=False)
results_hypothesis3

             mean_budget_genres
Animation          1.189863e+08
Sci-Fi             1.058324e+08
Adventure          9.704413e+07
Action             8.071296e+07
Fantasy            7.802388e+07
War                7.598890e+07
Family             7.563237e+07
History            6.019048e+07
Musical            5.329136e+07
Horror             4.973552e+07
Thriller           4.885091e+07
Western            4.693517e+07
Comedy             4.682213e+07
Drama              4.540657e+07
Crime              4.424356e+07
Romance            4.104486e+07
Mystery            3.989143e+07
Sport              3.738880e+07
Biography          3.626704e+07
Music              2.810103e+07
Film-Noir          2.006148e+07
Documentary        1.068140e+07
Short              9.219319e+06
News               7.722448e+06

**Выводы**

Данные показывают, что самые дорогие фильмы - это анимационные, а не фантастические.

Так что Гипотеза 3 оказалась не верной.

# Заключение <a id='end'></a>

Были проверены следующие три гипотезы:

1. Среднее количество обзоров и средняя оценка у фильмов из США среди критиков и граждан больше, чем по всему миру.
2. Фильм из США с самой большой выручкой заработал больше чем все фильмы из России и СССР.
3. Фантастические фильмы являются самыми дорогими в производстве.

Проанализировав данные, мы пришли к выводу:

1. Присутствует огромный разрыв между количеством пользовательских оценок, а разница в количестве оценок критиков не такая большая. Но при этом рейтинг у фильмов из США немного меньше, чем в фильмов по миру.

*Первая гипотеза* только отчасти подтведиласть.

2. Самый прибыльный фильм из США заработал больше, чем все фильмы из России и СССР.

*Вторая гипотеза* полностью подтведиласть.

3. Оказывается, самые дорогие фильмы - это анимационные, а не фантастические.
*Третья гипотеза* оказалась не верной.